<!--The content below is only a placeholder and can be replaced.-->
<div style="width: 80%">
      <ngx-datatable
        class="material"
        [headerHeight]="50"
        [columnMode]="'force'"
        [rowHeight]="'auto'"
        [footerHeight]="50"
        [count]="true"
        [limit]="4"
        [rows]="rows"
        >
        <ngx-datatable-column name="Student Name">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Student Age">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Student Grade">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value}}
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
  </div>

